/* src/Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Semi-transparent black shadow */
    background-color: white; /* Ensure background is set for contrast */
    position: sticky; /* Optional: Keeps navbar visible during scroll */
    top: 0; /* For sticky positioning */
    z-index: 1000; /* Ensure it's above other elements */
  }
  
    
    .logo {
      color: black;
      font-size: 1.5em;
      margin-right: 20px;
    }
  
    .logo-img {
      width: 50px; /* Adjust width based on your preference */
      height: auto; /* Maintain aspect ratio */
      object-fit: contain;
    }
    .logoo {
        width: 120px; /* Adjust width based on your preference */
        height: auto; /* Maintain aspect ratio */
        object-fit: contain;
      }
    
    .nav-links {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: auto;
    }
    
    .nav-item {
      margin-left: 20px;
    }
    
    .nav-item a {
      color: black;
      text-decoration: none;
      padding: 10px 10px;
    }
    
    .nav-item a:hover {
      border-radius: 4px;
      color:blue;
    }